* { margin:0;
  padding:0
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.odgovor {
  width: 60vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.35);


  padding: 5px;
  margin: 5px;
}
