* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(46, 42, 42);
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.odgovor,
.porudzbina {
  width: 70vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.35);

  text-align: justify;

  padding: 5px;
  margin: 15px;
}

h4 {
  margin-left: 2px;
  margin-bottom: 10px;
}

.porudzbina {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.row label {
  width: 100px;
  display: inline-block;
}

.row select {
  flex: 1;
  min-width: 120px;
  text-align: center;
}

select:required:invalid {
  color: gray;
}

select option {
  color: black;
}

#verify {
  margin-top: 10px;
  padding: 3px;
  width: calc(fit-content);
  align-self: flex-end;
}

.preview-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.img-wrapper {
  min-width: 80px;
  max-width: 100px;

  aspect-ratio: 1 / 1;

  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
  border: 1px black solid;
}

.food-img {
  height: 100%;
  width: 100%;

  flex-shrink: 0;

  object-fit: contain;
  object-position: center;
  display: block;
}

.food-img[src=""],
.food-img:not([src]) {
  visibility: hidden;
}
